<CodeSnippets
    xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>
        Class Documentation
      </Title>
      <Shortcut>cdoc</Shortcut>
    </Header>
    <Snippet>
      <Code Language="CSharp">
        <![CDATA[
        /**
         * Purpose: DESCRIPTION
         * Methods:
         *     string DocMe() - description
         */
        ]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>